<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>EMPRÉSTIMOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">emprestimos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card style="height: 100px;">
          <ion-card-header>
            <ion-card-title class="titulo-saldo ion-text-capitalize ion-text-center" style="color: #007bff">
              <p class="conteudo-saldo ion-text-center ion-text-large">
                <ion-item>
                  <ion-select class="conteudo-saldo" label="Tempo(meses)" label-placement="floating" (ionChange)="onPeriodoChange($event)">
                    <ion-select-option value="1 mes">1 mês</ion-select-option>
                    <ion-select-option value="2 meses">2 meses</ion-select-option>
                    <ion-select-option value="3 meses">3 meses</ion-select-option>
                    <ion-select-option value="4 meses">4 meses</ion-select-option>
                    <ion-select-option value="5 meses">5 meses</ion-select-option>
                    <ion-select-option value="6 meses">6 meses</ion-select-option>
                  </ion-select>
                </ion-item>
          </p></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card *ngIf="periodoSelecionado" style="height: 100px;">
          <ion-card-header>
            <ion-card-title class="titulo-saldo ion-text-capitalize ion-text-center" style="color: #007bff">Limite:</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p class="conteudo-saldo ion-text-center ion-text-large" style="color: #ffffff;">R${{ limite.toLocaleString('pt-BR', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</p>
         </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center">
    <b>juros de 3% ao mês</b>
  </div>

  <ion-list>
    <ion-item *ngIf="limite">
      <ion-textarea label="Digite o valor:" placeholder="Adiantamento(R$)" [(ngModel)]="valor_digitado" (ionChange)="atualizarValorDigitado($event)"></ion-textarea>
    </ion-item>


    <ion-button #botaoInformacoes *ngIf="valor_digitado" (click)="onClickInformacoes()" class="ion-text-center">Valor aplicado ao juros</ion-button>
      <div *ngIf="exibirTabela">
        <b class="ion-text-end">R$${{valor_final.toLocaleString('pt-BR', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</b>
      </div>
    </ion-list>
    <ion-button class="button" *ngIf="valor_digitado" (click)="botaoClicado()">Confirmar Valor</ion-button>
</ion-content>
