.titulo-saldo {
  font-size: 24px;
}

.conteudo-saldo {

  font-size: 20px;
}

ion-toolbar {
  --ion-color-primary: #006ef5;
  color: #fff;
}

.button {
  background-color: #006ef5;
  text-align: center;
}

.valor-final {
  text-align: end; // Alinha à direita
}

