
ion-select {
  text-align: center;
}


.conteudo-exibido {
  text-align: center;
  color: #006ef5;
  font-size: 30px;
}

ion-toolbar {
  --ion-color-primary: #006ef5;
  color: #fff;
}

.barra-azul {
  background-color: #007bff;
  height: 5px;
}

/* Esconde os elementos em dispositivos médios e maiores */
.ion-hide-md-down {
  display: none;
}

/* Esconde os elementos em dispositivos pequenos */
.ion-hide-sm-up {
  display: none;
}


  .titulo-vendas {
    font-size: 24px;
  }

  .conteudo-vendas {
    font-size: 20px;
  }

  .tabela {
    background-color: #006ef5;
    border: solid 1px #262626;
    color: #fff;
    text-align: center;
  }

  ion-button {
    background-color: #006ef5;
    text-align: center;
  }
