<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>VENDAS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select aria-label="Período" interface="popover" placeholder="Selecione o Período desejado" (ionChange)="onPeriodoChange($event)">
        <ion-select-option value="3 meses">3 meses</ion-select-option>
        <ion-select-option value="6 meses">6 meses</ion-select-option>
        <ion-select-option value="1 ano">1 ano</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vendas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="faturamento">
    <ion-card-header>
      <ion-card-title class="titulo-vendas ion-text-capitalize ion-text-center" style="color: #007bff">Faturamento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="conteudo-vendas ion-text-center ion-text-large" style="color: #ffffff;">{{ faturamento }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="quantidade_vendas">
    <ion-card-header>
      <ion-card-title class="titulo-vendas ion-text-capitalize ion-text-center" style="color: #007bff">Quantidade de Vendas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="conteudo-vendas ion-text-center ion-text-large" style="color: #ffffff;">{{ quantidade_vendas }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button #botaoInformacoes *ngIf="periodoSelecionado === '3 meses'" (click)="onClickInformacoes3()" class="ion-text-center">Histórico de vendas</ion-button>
  <ion-button #botaoInformacoes *ngIf="periodoSelecionado === '6 meses'" (click)="onClickInformacoes6()" class="ion-text-center">Histórico de vendas</ion-button>
  <ion-button #botaoInformacoes *ngIf="periodoSelecionado === '1 ano'" (click)="onClickInformacoes12()" class="ion-text-center">Histórico de vendas</ion-button>

<ion-grid *ngIf="exibirTabela3">
  <ion-row>
    <ion-col class="tabela">
      <h3>Mês</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Vendas</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Valor</h3>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let venda of vendas3">
    <ion-col class="tabela">
      {{ venda.mes }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.vendas }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.valor | currency:'BRL':'symbol':'1.2-2' }}
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Exemplo de tabela responsiva com ion-grid, ion-row e ion-col para os últimos 6 meses -->
<ion-grid *ngIf="exibirTabela6">
  <ion-row>
    <ion-col class="tabela">
      <h3>Mês</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Vendas</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Valor</h3>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let venda of vendas6">
    <ion-col class="tabela">
      {{ venda.mes }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.vendas }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.valor | currency:'BRL':'symbol':'1.2-2' }}
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Exemplo de tabela responsiva com ion-grid, ion-row e ion-col para os últimos 12 meses -->
<ion-grid *ngIf="exibirTabela12">
  <ion-row>
    <ion-col class="tabela">
      <h3>Mês</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Vendas</h3>
    </ion-col>
    <ion-col class="tabela">
      <h3>Valor</h3>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let venda of vendas12">
    <ion-col class="tabela">
      {{ venda.mes }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.vendas }}
    </ion-col>
    <ion-col class="tabela">
      {{ venda.valor | currency:'BRL':'symbol':'1.2-2' }}
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
