<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Recebíveis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recebíveis</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo-saldo ion-text-capitalize ion-text-center" style="color: #007bff">Saldo em conta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       <p class="conteudo-saldo ion-text-center ion-text-large" style="color: #ffffff;">R$ {{ saldo.toLocaleString('pt-BR', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label class="ion-text-center">
      <h1 class="ion-text-center">Adiantamento de recebíveis(R$)</h1>
    </ion-label>
  </ion-item>
  <br />
  <br />
  <ion-label class="ion-text-center">
    <h1 class="ion-text-center">Você tem R${{adiantar.toLocaleString('pt-BR', {minimumFractionDigits: 2, maximumFractionDigits: 2})}} disponíveis para adiantar!</h1>
  <br />
  <ion-button>Adiantar recebível</ion-button>
