

.titulo-saldo {
  font-size: 24px;
}

.conteudo-saldo {

  font-size: 20px;
}


ion-toolbar {
  --ion-color-primary: #006ef5;
  color: #fff;
}

.tabela {
  background-color: #006ef5;
  border: solid 1px #262626;
  color: #fff;
  text-align: center;
}

ion-button {
  background-color: #006ef5;
  text-align: center;
}
